<head>


    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="/styles/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="/styles/nav.css">
</head>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <div class="container flex-column text-center">


        <!-- ููฺฏู -->
        <a class="navbar-brand mx-auto" href="/">
            <img src="/assets/images/nbmlogo.webp" alt="ฺฉูุณุง ุดุฑูุน ูู" class="logo">
        </a>
        <!-- ูุงู ฺฉูุณุง -->
        <h1 class="title mb-5">ฺฉูุณุง ุดุฑูุน ูู</h1>

        <!-- ุฏฺฉูู ููุจุฑฺฏุฑ ุฏุฑ ููุจุงู -->
        <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- ููู -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">ุฎุงูู</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle" href="/services" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        ุฎุฏูุงุช
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <li class="nav-item"><a class="dropdown-item nav-link" href="/education">ุชุนูู </a></li>
                        <li class="nav-item"><a class="dropdown-item nav-link" href="/deliverance">ุดูุง ู ุขุฒุงุฏ</a></li>
                        <li class="nav-item"><a class="dropdown-item nav-link" href="/consulting"> ูุดุงูุฑู </a></li>
                        <li class="nav-item"><a class="dropdown-item nav-link" href="/pray">ุฏุนุง ู ุดูุงุนุช</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle" href="/services" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        ฺฉุชุงุจุฎุงูู
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <li class="nav-item"><a class="dropdown-item nav-link" href="/bible">ฺฉุชุงุจ ููุฏุณ </a></li>
                        <!-- <li class="nav-item"><a class="dropdown-item nav-link" href="/child">ฺฉูุฏฺฉุงู</a></li> -->
                        <!-- <li class="nav-item"><a class="dropdown-item nav-link" href="/poem"> ุงุดุนุงุฑ </a></li> -->
                        <!-- <li class="nav-item"><a class="dropdown-item nav-link" href="/books"> ฺฉุชุงุจูุง ูุฑุชุจุท</a></li> -->
                        <!-- <li class="nav-item"><a class="dropdown-item nav-link" href="/article"> ููุงูุงุช</a></li> -->

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle" href="/services" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        ุฑูุฏุงุฏูุง
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <li class="nav-item"><a class="dropdown-item nav-link" href="/prophecy">ูุจูุชูุง </a></li>
                        <li class="nav-item"><a class="dropdown-item nav-link" href="/conference">ฺฉููุฑุงูุณูุง</a></li>
                        <!-- <li class="nav-item"><a class="dropdown-item nav-link" href="/event"> ูุฑุงุณู ู ุงุนุงุฏ </a></li> -->

                    </ul>
                </li>


                <li class="nav-item"><a class="nav-link" href="/radio">ุฑุงุฏู ุดุฑูุน ูู</a></li>
                <li class="nav-item"><a class="nav-link" href="/songs">ุณุฑูุฏ ู ุขููฺฏ</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">ุฏุฑุจุงุฑู ูุง</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">ุชูุงุณ ุจุง ูุง</a></li>
                <li class="nav-item">
                    <a class="nav-link donate-btn text-dark fw-bold mx-2 px-3 py-1 rounded-pill" href="/donate">๐
                        ูพุฑุฏุงุฎุช ูุฏุงุง</a>
                </li>



                <% if (user) { %>
                    <% if (user.role==='admin' ) { %>
                        <li class="nav-item"><a class="nav-link" href="/admin">ูุฏุฑุช</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="/super_admin">ุงุฏูู</a></li> -->
                        <!-- <li class="nav-item"><a class="nav-link" href="/super_admin">ุฎุงุฏูู</a></li> -->
                        <% } else if (user.role==='user' ) { %>
                            <li class="nav-item"><a class="nav-link" href="/user-panel">ูพูู ฺฉุงุฑุจุฑ</a></li>
                            <% } %>
                                <li class="nav-item"><a class="nav-link text-danger" href="/logout">ุฎุฑูุฌ</a></li>
                                <% } else { %>
                                    <li class="nav-item"><a class="nav-link" href="/login">ูุฑูุฏ/ ุนุถูุช</a></li>

                                    <% } %>
            </ul>
        </div>
    </div>
</nav>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/nav.js"></script>


</html>