<%- include('./partials/navbar') %>

    <div class="container text-center mt-5">
        <h2 class="text-success">پرداخت با موفقیت انجام شد!</h2>
        <p>از حمایت مالی شما متشکریم. خداوند برکتتان دهد.</p>
        <a href="/" class="btn btn-primary mt-3">بازگشت به خانه</a>
    </div>

    <%- include('./partials/footer') %>