<%- include('./partials/navbar') %>

    <div class="container text-center mt-5">
        <h2 class="text-danger">پرداخت لغو شد.</h2>
        <p>اگر مشکلی پیش آمده، می‌توانید دوباره تلاش کنید.</p>
        <a href="/donate" class="btn btn-warning mt-3">بازگشت به صفحه پرداخت</a>
    </div>

    <%- include('./partials/footer') %>