<!DOCTYPE html>
<html lang="fa" dir="rtl">

    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-MEZ23JPF5J"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'G-MEZ23JPF5J');
        </script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>کتابخانه</title>
    </head>

    <body>
        <%- include('partials/navbar') %>

            <h1>کتابخانه</h1>

            <%- include ('partials/footer') %>
    </body>

</html>