<!DOCTYPE html>
<html lang="fa" dir="rtl">

  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MEZ23JPF5J"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'G-MEZ23JPF5J');
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>دعا و شفاعت | Pray</title>
    <!-- لینک به Bootstrap RTL -->
    <link rel="stylesheet" href="/public/styles/bootstrap.rtl.min.css" />
    <link rel="stylesheet" href="/styles/pray.css" />
  </head>

  <body class="container-xxl">
    <!-- نوار منو (Navbar) -->
    <%- include('partials/navbar') %>

      <!-- بخش هیرو: تصویر پس‌زمینه با متن تاثیرگذار -->
      <section class="hero">
        <div class="hero-overlay">
          <h1>دعا و شفاعت</h1>
          <p class="lead">راهی به سوی آرامش و امید</p>
        </div>
      </section>

      <!-- بخش محتوا: ترکیب تصویر و متن جذاب -->
      <section class="content-section container">
        <div class="row align-items-center">
          <div class="col-md-6 mb-4">
            <img src="/assets/images/pray.2.webp" alt="تصویر دعا و شفاعت" />
          </div>
          <div class="col-md-6">
            <h2 class="mb-4" id="s-2">تجربه دعا و شفاعت</h2>
            <p class="mb-4" id="p-1">
              در دنیایی پر از چالش‌ها و نگرانی‌ها، دعا و شفاعت پلی است به سوی
              آرامش درونی و امید. ما در این فضا، با قلبی صادق و ایمان عمیق، به شما
              فرصت می‌دهیم تا در کنار هم به نیایش بپردازید و از شفاعت الهی
              بهره‌مند شوید. اینجا جایی است برای تجربه ارتباط معنوی عمیق با خداوند
              و دریافت آرامش واقعی.
            </p>
            <p class="mb-4" id="p-1">
              با شرکت در مراسم دعا، نه تنها ایمان خود را تقویت می‌کنید بلکه به
              ایجاد فضایی از همبستگی، عشق و حمایت در جامعه کمک می‌نمایید. در کنار
              هم، دست در دست یکدیگر به سوی فردایی روشن‌تر قدم برمی‌داریم.
            </p>
            <div class="text-center mt-5">
              <a href="/join-pray" class="btn btn-outline-primary" id="btn-text ">تقاضای دعا</a>
            </div>
          </div>
        </div>
      </section>

      <!-- فوتر -->
      <%- include('partials/footer') %>
        < </body>

</html>