html {
  background-color: rgb(226, 224, 221);
}

.alert {
  padding: 15px;
  margin: 20px 0;
  border-radius: 5px;
  font-size: 16px;
}

.alert.success {
  background-color: #d4edda;
  color: #155724;
}

.alert.error {
  background-color: #f8d7da;
  color: #721c24;
}
